<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goku.dbmall.goods.dao.mapper.CategoryInfoMapper">
  <resultMap id="BaseResultMap" type="com.goku.dbmall.goods.dao.po.CategoryInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gkcode" jdbcType="VARCHAR" property="gkcode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="parent_gkcode" jdbcType="VARCHAR" property="parentGkcode" />
    <result column="gkcode_tree_path" jdbcType="VARCHAR" property="gkcodeTreePath" />
    <result column="slogan" jdbcType="VARCHAR" property="slogan" />
    <result column="cat_image" jdbcType="VARCHAR" property="catImage" />
    <result column="bg_color" jdbcType="VARCHAR" property="bgColor" />
    <result column="sort_index" jdbcType="INTEGER" property="sortIndex" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="modified_user" jdbcType="VARCHAR" property="modifiedUser" />
    <result column="ts" jdbcType="BIGINT" property="ts" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gkcode, name, code, type, parent_gkcode, gkcode_tree_path, slogan, cat_image, bg_color, sort_index,
    deleted, created_date, created_user, modified_date, modified_user, ts
  </sql>
</mapper>